<header class="c-header">
    <img src="./../../../../assets/rick-and-morty.png" width="50%" />
    <nav class="c-header-nav">
        <a class="c-header__link" routerLink="/" routerLinkActive="c-header__link--active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
        <a class="c-header__link" routerLink="characters" routerLinkActive="c-header__link--active">Users</a
    >
    <a
      class="c-header__link"
      routerLink="contact"
      routerLinkActive="c-header__link--active"
      >Contact</a
    >
  </nav>
</header>